*{ /*Fonte utilizada no site*/
    font-family: 'Montserrat', sans-serif;
}

.criar-evento{
    margin: 0!important;
}

.logo-header{
    margin-top: -8!important;
}

.div-pesquisar{
    margin-top: -20px;
}

.div-home{
    margin-top: -40px;
}

.lupa{
    margin-top: -15px;
}

/*Cor de fundo utilizada na tela*/
body{
    background-color: #ededed;
}

a{
    text-decoration: none;
}

.titulo p{
    font-size: 20px;
    color:#000;
    font-weight: bold;
}

.privacidade{
    background-color: #fff !important;
    border-radius: 8px;
}

.bagulhete{
    background-color: #dccce0;
    width: 35% !important;
    border-radius: 13px;
}

.imagem{
    width: 350px;
    height: 150px;
    border-radius: 8px;
    border: none !important;
    background-color: #ebf6fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoS{
    background-color: #fff !important;
    border-radius: 8px !important;
    border: solid 3px #770089 !important;
    width: min(45vw, 250px) !important;
    height: 35px !important;
    color: #770089 !important;
    font-size: min(3vw, 16px);
    font-weight: bold;
}

.botaoS:hover{
    background-color: #006760!important;
    border: solid 3px #006760 !important;
    color: #fff !important;
}

.botaoD{
    background-color: #fff !important;
    border-radius: 8px !important;
    border: solid 3px #770089 !important;
    width: min(45vw, 250px) !important;
    height: 35px !important;
    color: #770089 !important;
    font-size: min(3vw, 16px);
    font-weight: bold;
}

.botaoD:hover{
    background-color: #c23934!important;
    border: solid 3px #c23934 !important;
    color: #fff !important;
}

.imagem{
    border: solid 3px #770089;
}

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}