/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Largura desejada */
    background-color: #dbe5eb; /* Cor de fundo desejada */
    padding: 20px;
    border: 2px solid #9fcde8; /* Cor da borda desejada */
    border-radius: 10px; /* Borda arredondada com raio de 10px */
    text-align: left; /* Alinhamento do texto à esquerda */
}


.modal-content {
    width: 100%;
}


.close {
    color: #b25abf; /* Cor do ícone de fechar */
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}

.close:hover,
.close:focus {
    color: #b25abf; /* Cor do ícone de fechar ao passar o mouse */
    text-decoration: none;
    cursor: pointer;
}

/* Estilize os textos ON-LINE e PRESENCIAL */
.formatOptions label b {
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: 'Montserrat', sans-serif; /* Use a fonte Montserrat e fallback para sans-serif */
}


/* Estilize os checkboxes conforme necessário */
.formatOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhe os itens à esquerda */
}

label {
    margin-bottom: 10px; /* Adicione algum espaço entre os itens */
    display: flex;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px; /* Espaçamento entre o quadrado e o rótulo */
}

/* Ajuste a posição e tamanho do campo de entrada do nome do evento */
#eventName {
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    margin-bottom: 5px; /* Espaçamento abaixo do campo de entrada */
    border: #b25abf 2px solid !important;
    border-radius: 5px;
}
.btnCriar {
    background-color: #b25abf;
    color: #fff;
    border: #fff 2px solid !important;
    border-radius: 20px;
    text-align: center;
    border-width: 2px;
    margin-top: 5px; /* Ajuste a margem acima do botão Criar Evento */
}

/* Ajuste o tamanho do botão Criar Evento */
.createEventButton {
    font-size: 14px; /* Tamanho da fonte desejado */
    width: 40%; /* Largura total */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    border-width: 2px;

}